NEXT_PUBLIC_SITE_NAME = your-site-name
NEXT_PUBLIC_SITE_URL= https://your-site-url.com
NEXT_PUBLIC_SITE_DESCRIPTION=  "Your site description goes here."
NEXT_PUBLIC_OWNER_NAME= Your Name
NEXT_PUBLIC_JOB_TITLE= Your Job Title
NEXT_PUBLIC_LOGO_TEXT = YourLogoText

RESEND_API_KEY= xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ENABLE_AUTO_REPLY= true
CONTACT_EMAIL= mail@gmail.com
MAIL_FROM_NAME= Your Site Name
MAIL_FROM_ADDRESS= mail@gmail.com

NEXT_PUBLIC_ENABLE_TURNSTILE= true
NEXT_PUBLIC_TURNSTILE_SITE_KEY= your-turnstile-site-key
TURNSTILE_SECRET_KEY= your-turnstile-secret-key
